<a href="https://colab.research.google.com/github/Tanu-N-Prabhu/UsedCarPricePredictionSystem-Files/blob/master/Model_Saving.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Model Saving**

In this notebook the model will be save as a `.sav` file. This is dumped with the helo of pickle. You can save this file anywhere in your local system. With the help a [tutorial](https://machinelearningmastery.com/save-load-machine-learning-models-python-scikit-learn/) I could easily save the model

In [0]:
import pandas as pd    
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score     
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error           # Loading the dataset into a dataframe and performing the desired operations
from sklearn.model_selection import train_test_split
import pickle

In [2]:
# Storing the dataset (CSV file) as a pandas dataframe

df = pd.read_csv("/content/drive/My Drive/Dataset/CleanedData.csv")   # Storing the CSV file into a dataframe
df.head(5)

   price  yearOfRegistration  powerPS  ...  vehicleType_7  gearbox_0  gearbox_1
0    650                1995      102  ...              0          0          1
1   2000                2004      105  ...              0          0          1
2   2799                2005      140  ...              0          0          1
3    999                1995      115  ...              0          0          1
4   2500                2004      131  ...              0          0          1

[5 rows x 19 columns]

In [0]:
selectedFeatures = ['yearOfRegistration','powerPS','model','kilometer','monthOfRegistration','fuelType','brand','postalCode','vehicleType_0','vehicleType_1','vehicleType_2','vehicleType_3','vehicleType_4','vehicleType_5','vehicleType_6','vehicleType_7','gearbox_0','gearbox_1']

In [0]:
X = df[selectedFeatures]
y = df['price']

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=1)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.15, random_state=1) # 0.25 x 0.8 = 0.2

In [0]:
rfr = RandomForestRegressor(max_depth= 16, max_features=10, min_samples_leaf=2, n_estimators=350).fit(X_train, y_train)

In [0]:
# save the model to disk
filename = '/content/drive/My Drive/Models/regressionmodel.sav'
pickle.dump(rfr, open(filename, 'wb'))

In [12]:
# load the model from disk
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.score(X_test, y_test)
print(result)

0.8670148409018903

Also, the original model file can be found [here](https://github.com/Tanu-N-Prabhu/Used_Car_Price_Prediction_System1/blob/master/model1.sav)



---