<a href="https://colab.research.google.com/github/Tanu-N-Prabhu/UsedCarPricePredictionSystem-Files/blob/master/Model_Planning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Model Planning**

The model planning phase includes variable selection, model selection, category of techniques.


![alt text](https://i.imgur.com/m60ckg8.png)

Image Credits: Class Presentation



---

## **Variable Selection**

As the data was thoroughly explored and conditioned in the previous stage, the variables i.e features must be selected in this phase. As we all know there are two types of variables: independent and dependent variables

In [8]:
import pandas as pd
df = pd.read_csv("/content/drive/My Drive/Dataset/CleanedData.csv")   # Storing the CSV file into a dataframe
df.head(5)

   price  yearOfRegistration  powerPS  ...  vehicleType_7  gearbox_0  gearbox_1
0    650                1995      102  ...              0          0          1
1   2000                2004      105  ...              0          0          1
2   2799                2005      140  ...              0          0          1
3    999                1995      115  ...              0          0          1
4   2500                2004      131  ...              0          0          1

[5 rows x 19 columns]

In [3]:
# Listing all the features of the data frame
features = list(df.columns.values)
features

['price',
 'yearOfRegistration',
 'powerPS',
 'model',
 'kilometer',
 'monthOfRegistration',
 'fuelType',
 'brand',
 'postalCode',
 'vehicleType_0',
 'vehicleType_1',
 'vehicleType_2',
 'vehicleType_3',
 'vehicleType_4',
 'vehicleType_5',
 'vehicleType_6',
 'vehicleType_7',
 'gearbox_0',
 'gearbox_1']

In [0]:
# Selecting all the feautres of the dataframe except price
selectedFeatures = [
                     'yearOfRegistration','powerPS','model','kilometer','monthOfRegistration','fuelType',
                     'brand','postalCode','vehicleType_0', 'vehicleType_1','vehicleType_2','vehicleType_3',
                     'vehicleType_4','vehicleType_5','vehicleType_6','vehicleType_7','gearbox_0','gearbox_1'
                     ]

Here  the  feature  separation  was  prepared  in  a  particular  order  because  wrong mismatch order of data can cause an error.  The **‘X’** variable contains all the featuresexcept the price and it of 2 dimensions.  Similarly, the **‘y’** variable contains only pricevalues and its of 1 dimension

In [0]:
# Variable selection 
X = df[selectedFeatures]
y = df['price']

In [6]:
# Printing X
X

       yearOfRegistration  powerPS  model  ...  vehicleType_7  gearbox_0  gearbox_1
0                    1995      102     11  ...              0          0          1
1                    2004      105     10  ...              0          0          1
2                    2005      140    160  ...              0          0          1
3                    1995      115    160  ...              0          0          1
4                    2004      131    160  ...              0          0          1
...                   ...      ...    ...  ...            ...        ...        ...
94152                1997      150     27  ...              0          0          1
94153                2003      260     93  ...              0          1          0
94154                2010      140    113  ...              0          0          1
94155                2004      225    135  ...              0          0          1
94156                2002      100    113  ...              0          0          1

[94157 rows x 18 columns]

In [7]:
# Printing y
y

0         650
1        2000
2        2799
3         999
4        2500
         ...
94152    1999
94153    5000
94154    7900
94155    3200
94156    3400
Name: price, Length: 94157, dtype: int64



---

## **Model Selection**

There are 4 types of models in machine learning



1.   Classification
2.   **Regression**
3.   Association rules
4.   Text/Image/Video Analysis




Since the problem analysis was to determine the relationship between the outcome and the input variables, Hence only regression was used the model selection.



---